<%- include('../partials/adminHeader') %>

<div class="container-fluid">
    <div class="row">
        <%- include('../components/adminSidebar') %>

        <div class="content col-md-10">
            <section class=" bg-light">
                <div class="row">
                    <div class="col-12 pb-3">
                        <h1 class="h4">Venue Management</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 fs-7">
                                <li class="breadcrumb-item"><a class="link-primary text-decoration-none"
                                        href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Venue Management</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </section>

            <div class="">

                <!-- Add New Venue Form -->
                <form action="/admin/venue" method="POST" class="mb-4">
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" placeholder="Venue Name" required>
                        <input type="number" class="form-control" name="capacity" placeholder="Capacity" required>
                        <button class="btn btn-primary" type="submit">Add Venue</button>
                    </div>
                </form>

                <!-- List of Venues -->
                <% if (venues.length > 0) { %>

                <section>
                    <div class="container">
                        <h1 class="h4 fw-bold">Venues</h1>
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th scope="col">Venue Name</th>
                                    <th scope="col">Capacity</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% venues.forEach(venue => { %>
                                <tr class="trow">
                                    <td><%= venue.name %></td>
                                    <td><%= venue.capacity %></td>
                                    <td>
                                        <button class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">Edit</button>
                                    </td>
                                    <td>
                                        <form action="/admin/venue/<%= venue._id %>?_method=DELETE" method="POST"
                                            class="d-inline">
                                            <button class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="deleteModal">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>

                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="/admin/venue/?_method=PUT" method="POST"></form>
                                    <div class="modal-body">

                                        <div class="row gy-2 overflow-hidden">
                                            <div class="col-12">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" name="name" id="name"
                                                        value="" required>
                                                    <label for="name" class="form-label">Venue Name</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" name="capacity"
                                                        id="capacity" value="" required>
                                                    <label for="capacity" class="form-label">Capacity</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button class="btn btn-primary" type="submit">Edit</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <% } else { %>
                <p class="text-center">No venues available.</p>
                <% } %>
            </div>
        </div>
    </div>
</div>